// SCSS Layout - Container
// Layout containers for centering content layout templates

@use "../abstracts" as *;

.l-container {
  padding: $space-15 $space-9;
}

.l-container-wide-right {
  padding: $space-15 0;
  padding-right: $space-9;
}
