// SCSS Layout - Container
// Layout containers for centering content layout templates

@use "../abstracts" as *;

.l-container {
  padding: $space-15 $space-9;
}

.l-container-wide-right {
  padding: $space-15 0;
  padding-right: $space-9;
}

.profile-badge {
  display: flex;
  flex-direction: column;
  min-width: 18%;
  max-width: 18%;
  border: 1px solid $color-border;
  border-radius: $space-2;

  &__header {
    height: $space-10;
    background: $color-border;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: $space-2 $space-2 0 0;
    padding: 0 $space-4;

    & svg,
    img {
      height: $space-8;
      max-height: fit-content;
    }
  }

  &__main {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: $space-2;
    padding: $space-5 $space-4 $space-4 $space-4;
    font-weight: $font-weight-regular;
    color: $color-card;
    line-height: $line-height-snug;

    & h3 {
      color: $color-primary-hover;
    }

    &__image {
      border-radius: 50%;
      width: $space-10;
      height: $space-10;
    }

    &__ranks {
      display: flex;
      justify-content: center;
    }

    &__btn {
      &-stack {
        @include view-btn(#e7700d);
      }
      &-linkedin {
        @include view-btn(#0a66c2);
      }

      &-credly {
        @include view-btn(#ff6a00);
      }
    }
  }
}

.carousel {
  overflow: hidden;
  width: 100%;
  position: relative;
  min-height: $space-13;
  display: flex;
  align-items: center;

  background-color: #eff2d9;
  backdrop-filter: blur($glass-blur-hard) saturate($glass-saturate);
  // optional fade-out edges so items don't hard-cut at the sides
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );

  &__track {
    display: flex;
    width: max-content;
    animation: scroll 20s linear infinite;
    gap: $space-9;

    &:hover {
      animation-play-state: paused; // nice UX touch, optional
    }
  }

  &__item {
    flex-shrink: 0;
    margin: 0 $space-4; // spacing between logos
    display: flex;
    align-items: center;

    img {
      height: $space-10;
      width: auto;
      object-fit: contain;
    }
  }
}
